@charset "utf-8";
@import "../../theme.less";

.page-main-container {
    padding: 40px;
    background: #ffffff;
}

// title
.page-main-container .title{
    font-size: 40px;
    line-height: 45px;
    color: @txt-black;
    font-weight: 700;
    text-align: center;
};

// text content
.page-main-container ul.content{
    list-style: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
    li{
        padding-bottom: 20px;
    }
    li:last-child{
        padding-bottom: 40px;
    }
}

// member avatar
@memavatar-img-dimen: 200px;                // member avatar image height & width
.page-main-container ul.memavatar{
    list-style: none;
    font-size: 20px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-align: center;
    li{
        display: inline-block;
        margin: 0 auto;
        padding: 20px;
        vertical-align: top;
        .box{
            position:relative;
            width: @memavatar-img-dimen;
            height: @memavatar-img-dimen;
            border-radius: 50%;
            line-height: @memavatar-img-dimen;
            text-align: center;
            background-color: @background-grey;
            overflow: hidden;
            img{
                display: block;
                width: @memavatar-img-dimen;
                height: @memavatar-img-dimen;
                border: none;
            }
            .intro{
                display: none;
                width: @memavatar-img-dimen;
                height: @memavatar-img-dimen;
                padding: 0;
                margin: 0;
                position: absolute;
                top: 0;
                left: 0;
                background: @background-black-opacity-8;
                line-height: @memavatar-img-dimen;
                .txt{
                    display: inline-block;
                    font-size: 25px;
                    line-height: 30px;
                    color: @txt-white;
                    .text-autobreak;
                    vertical-align: middle;
                }
            }
        }
    }
    li:hover .box .intro{
        display: block;
    }
}
.page-main-container ul.memavatar:after{
    content: "";
    display: block;
    clear: both;
}

